*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Roboto","sans-serif";
  background: #f0f2f5;
  color: #333;
}

.join-container{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background: linear-gradient(130deg,#2c2d34 0%,#bb7b26 100%);
}

.join-form{
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 300px;


  h1{
    margin-bottom: 1.5rem;
    color: #333;
  }

  input{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }

  button{
    width: 100%;
    padding: 0.75rem;
    background-color: #b6905e;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transform: background-color 0.3s ease;


    &:hover{
      background-color: #b27b33;
    }
  }
}

